@font-face {
    font-family: DM Sans;
    src: url("./fonts/DMSans-VariableFont_opsz\,wght.ttf");
}


.image{
    padding-left: 170px!important;
}
.btn{
    background-color: #5fcac7 !important;
    color: white !important;
    border-radius :100px !important ;
    border-color: #5fcac7 !important;
   
   
}
.kio{
    width: 10px !important;
    height: 1px !important;
}
.btn9{
   padding-left: 10px !important;
   
}
.content9{
     font-weight: 400px !important;
    color: white  !important;
    align-content: center !important;
    padding-left: 150px !important;
    padding-top: 150px !important;
}
.content41{
     font-weight: 700px !important;
    color: rgb(0, 0, 0)  !important;
    align-content: center !important;
    padding-left: 150px !important;
    padding-top: 150px !important;
}
.content8{

    color: white  !important;
    align-content: center !important;
    padding-left: 150px !important;
    padding-top: 30px !important;
}
.content7{

    color: white  !important;
    align-content: center !important;
    padding-left: 150px !important;
    padding-top: 40px !important;
}
  
.item1{
    background-image: url(./images/item2.jpg) !important;
    width: 100% !important;
    height: 1000px !important;

}
.item2{
     background-image: url(./images/item3.jpg) !important;
    width: 100% !important;
    height: 1000px !important;

}
.content9 h1{
 
    font-weight: 700 !important;
     font-size: 80px !important;
}


.icons{
  
   background-color: #ffffff !important ;
}
.headf{
     font-family: DM Sans !important; 
}
.content56{
     font-family: DM Sans !important;
     font-weight: 400 !important;
     font-size: 16px !important;
     line-height:26px !important;
     width: 62% !important;
}
.bgimg{
    background-image: url(./images/hands.jpg) !important;
    width: 100% !important;
     height: 100% !important;
     background-color:  #ff91a4 !important;
     

}
.cake i{
    font-size: 62px !important;
}
.order{
    border: 2px solid white !important;
    color: white !important;
    border-radius: 50px !important;
    line-height: 50px !important;
    font-weight: 500 !important;
    padding: 0px 25px !important;
    font-size: 18px !important;
     font-family: DM Sans !important;
}
.para{
     font-family: DM Sans !important;
     font-weight: 400 !important;
}
.icong{
    background-image: 
    linear-gradient(   
      rgba(236, 128, 146, 0.8)
    ),
    url("./images/b-image2.jpg") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.eve{
    font-size: 30px !important;
    font-weight: 10px !important;
}

.box{
    background-color: #f3f2f4 !important;
    width: 200px !important;
    height: 200px !important;
}.one{
    color: #5fcac7 !important;
}
.order:hover{
    background-color: white !important;
    color: #4b4342 !important;   
}
.img img{
    border-radius: 200px !important;
    width: 130px !important;
    height: 130px !important;
}
.img1 img{
    border-radius: 200px !important;
    width: 60px !important;
    height: 60px !important;
}
.imagei{
    background-image: 
    linear-gradient(   
      rgb(95, 202, 199, 0.8)
    ),
    url("./images/b-image.jpg") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.order6{
    color: #4b4342 !important;
    line-height: 70px !important;
    font-size: 3.625rem !important;
    font-family: DM Sans !important;
}
.pie5{
    color: #4b4342 !important;
    font-weight: 500 !important;
    text-align: center !important;
    font-family: DM Sans !important;
    font-size: 20px !important;
}
#apple0{
    background-image: url(./images/hello.jpg) !important;
    padding-top: 90px !important;
}
.cakee{
    padding: 65px 0px 75px 0px !important;
    border: 2px solid white;
    border-radius: 10px !important;
    width: 60% !important;
}
.forever img{
    width: 200px !important;
    height: 140px !important;
     border-radius :10px !important ;
}
.ques-div{
    padding: 35px !important;
    background-color: #f3f2f4 !important;
    border-radius: 6px !important;
    margin-left: auto !important;
    height: 30vh !important;
}
.ques-div h3{
        font-family: 'DM Sans', sans-serif !important;
    font-size: 20px !important;
    /* line-height: 32px !important; */
        font-weight: 500 !important;
    color: #4b4342 !important;
}
.ques-div p{
        color: #5fcac7 !important;
}
.sweet-gap{
    gap: 65px !important;
}
.helicop{
        font-weight: 700 !important;
        font-family: 'DM Sans', sans-serif !important;
    font-size: 3.625rem !important;
    line-height: 70px !important;
}
.nott input{
        border: 2px solid #ebeaed !important;
    opacity: .4 !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    color: #ffffff !important;
    background-color: #ffffff !important;
    background-color: transparent !important;
        font-family: 'DM Sans', sans-serif !important;
    line-height: 32px !important;
    height: 60px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    border-radius: 30px !important;
   
}
.p-div p{
        font-family: 'DM Sans', sans-serif !important;
    font-size: 1rem !important;
    line-height: 26px !important;
        letter-spacing: 2px !important;
    font-weight: 500 !important;
}
.allicons{
        margin-left: 15px !important;
    margin-right: 15px !important;
    width: 40px !important;
    height: 40px !important;
    border: 2px solid rgba(255, 255, 255, 0.3) !important;
    border-radius: 50% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    transition: all 0.25s ease !important;
}
.allicons:hover{
    transition: all 0.25s ease !important;
    border-color: white !important;
}
.divider button{
     border: none !important;
    outline: none !important;
    border-radius: 50px !important;
    background-color: #5fcac7 !important;
    border-color: #5fcac7 !important;
    color: #ffffff !important;
    font-weight: 700 !important;
    font-size: 1.25rem;
    padding: 10px 40px !important;
    font-family: DM Sans !important;
}
.button-div button:hover{
    background-color: #52ada9 !important;
}
.blog{
     background-image:
    linear-gradient(
      rgba(150, 140, 137, 0.8)
    ),
    url("./images/background\ img\ 6.jpg") !important;
    /* opacity: 1 !important; */
    height: 70vh !important;
     background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    overflow: hidden !important;
        background-color: #eeeeee !important;
}
.foot{
    background-color: #2a2a2a !important;
}
.footer-ul li{
   list-style: none !important;
       font-family: "DM Sans", sans-serif !important;
    font-weight: 400 !important;
    font-size: 1rem !important;
    line-height: 40px !important;
}
.footer-p{
     list-style: none !important;
       font-family: "DM Sans", sans-serif !important;
    font-weight: 400 !important;
    font-size: 1rem !important;
    line-height: 40px !important;
}
.footer-p:hover{
    cursor: pointer !important;
}


  